.errorPage{
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.errorPage h1{
    font-size: 4rem;
    margin-bottom: 2rem;
}

.errorPage a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    outline: none;
}

.goToEarth{
    padding: 15px 35px;
    background-color: #e50914;
    text-transform: uppercase;

}

@media screen and (max-width:600px) {
    .errorPage h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}

}