.banner {
  background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--THrf5Yjw--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/n6brz4p7iq7j1mulo1nv.jpg");
  background-size: cover;
  background-position: center center;
  height: 448px;
  width: 100%;
  position: relative;
  object-fit: contain;
}

.banner__content {
  margin-left: 2rem;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  width: 50%;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}

.banner__fadeBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 10.5s;
}

@media screen and (max-width: 500px) {
  .banner__title {
    font-size: 2rem;
  }
  .banner__description {
    width: 100%;
  }
  .banner__title {
    padding-bottom: 0.5rem;
  }
}
